/*.App {*/
/*  text-align: center;*/
/*}*/

/*.App-logo {*/
/*  height: 40vmin;*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #09d3ac;*/
/*}*/

html
{
    height: 100%;
}

body
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

#root
{
    display: flex;
    flex-direction: column;
    height: 100%;
}

header
{
    flex: 0 0 auto;
    background-color: #1A1A21;
}

.content
{
    flex: 1 0 auto;
}

footer
{
    flex: 0 0 auto;
}

.carousel-home img
{
    height: 380px;
    width: 100%;
    object-fit: cover !important;
}

.bg-dark
{
    background-color: #1A1A21 !important;
}